In [11]:
import pandas
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.model_selection import train_test_split

pandas.options.display.max_columns = 10
pandas.options.display.max_rows = 10

ds_salary_data = pandas.read_csv("ds_salaries.csv")

ds_salary_data

,Unnamed: 0,work_year,experience_level,employment_type,job_title,...,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,...,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,...,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,...,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,...,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,...,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,...,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,...,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,...,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,...,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,...,200000,IN,100,US,L

In [54]:
df_x = pandas.DataFrame(ds_salary_data,columns = ds_salary_data.work_year)
df_y = pandas.DataFrame(ds_salary_data.salary_in_usd)

In [55]:
df_x.describe()

work_year  2020  2020  2020  2020  2020  ...  2022  2022  2022  2022  2022
count       0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0
mean        NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
std         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
min         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
25%         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
50%         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
75%         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN
max         NaN   NaN   NaN   NaN   NaN  ...   NaN   NaN   NaN   NaN   NaN

[8 rows x 607 columns]

In [28]:
df_y.describe()

       salary_in_usd
count     607.000000
mean   112297.869852
std     70957.259411
min      2859.000000
25%     62726.000000
50%    101570.000000
75%    150000.000000
max    600000.000000

In [46]:
ds_salary_data.dtypes

Unnamed: 0             int64
work_year              int64
experience_level      object
employment_type       object
job_title             object
                       ...
salary_in_usd          int64
employee_residence    object
remote_ratio           int64
company_location      object
company_size          object
Length: 12, dtype: object

In [12]:
reg = linear_model.LinearRegression()

In [15]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size = .2,random_state=4)

In [16]:
reg.fit(x_train, y_train)

ValueError: Input X contains NaN.
LinearRegression does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values